.mainpanel {
	margin-left: 250px;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lemonchiffon;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.task-list {
	margin-bottom: 25px;
}

input[type=text]{
   width:100%;
   border:2px solid #aaa;
   border-radius:4px;
   margin:0px 0px 0px 0px;
   outline:none;
   padding:4px 8px 4px 8px;
   box-sizing:border-box;
 }
 
 .inputWithIcon input[type=text]:focus{
   border-color:dodgerBlue;
   box-shadow:0 0 8px 0 dodgerBlue;
   padding-left: 9px;
 }
 
 .inputWithIcon input[type=text]{
   padding-left:40px;
 }
 
 .inputWithIcon{
   position:relative;
 }
  
.inputWithIcon fa-icon{
  position:absolute;
  left:0;
  padding:6px 8px 9px 8px;
  color:#aaa;
  transition:.3s;
}

.inputWithIcon button {
	position:absolute;
	right:0;
  	margin-top: 5px;
  	padding-top: 0px;
  	padding-bottom: 0px;
}